{% extends "::base.html.twig" %}

{% block title %}Nuevo Rubro{% endblock %}

{% block body %}

<a href=" {{ path('index_rubro', { 'id_servicio' : id_servicio }) }}">Volver a Rubros</a>
<div  class="form">
        <form action="{{ path('nuevo_rubro' , { 'id_servicio' : id_servicio }) }}" method="post">
            {{ form_rest(form) }}
            <input type="submit" value="Agregar Rubro" />
        </form>
    </div>
{% endblock %}
